/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* CSS for index.html */

.container {
	width: 90%;
	margin: 20px;
	padding: 20px;
	padding-left: 60px;
	/* border: 2px solid green; */
}

header.header {
	display: flex;
	justify-content: space-between;
}

header nav {
	display: flex;
	justify-content: space-around;
}

header nav a {
	text-decoration: none;
	color: gray;
	padding: 40px;
}

header img.logo {
	/* height: 50px; */
}

section.main {
	display: flex;
	/* justify-content: space-evenly; */
	padding: 40px 0;
}

section.main h1 {
	font-size: 80px;
	text-align: center;
}
section .mainTextContent {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex-grow: 1;
}

section.main img {
	width: 40%;
	height: 40%;

}

section.main button {
	width: 20%;
	height: 40px;
	background-color: white;
}

section.topContent {
	display: flex;
	padding: 20px;
	border-top: 1px solid black;
}

section.bottomContent {
	display: flex;
	padding: 20px;
	border-bottom: 1px solid black;
}

img.middle-img {
	width: 100%;
	padding: 20px;
}

footer h5 {
	padding-top: 20px;
	padding-bottom: 10px;
}

footer address {
	padding-bottom: 10px;
}

footer h6 {
	padding: 10px 0;
}

footer p {
	text-align: center;
	padding-bottom: 50px;
}

/* *********************** MEDIA QUERIES FOR MOBILE ****************************************** */

@media (max-width: 500px) {
    .container {
        padding-left: 20px;
    }

    header.header {
        flex-direction: column-reverse;
        /* height: 40%; */
    }

    header nav {
        flex-direction: column;
        border-top: 1px solid black;
    }

    header nav a {
        text-align: center;
        padding: 3% 0;
        font-size: 2vh;
        border-bottom: 1px solid black;
        /* height: 5%; */
    }

    header .logo {
        width: 30%;
        height: auto;
        margin: 0 auto;
        padding-bottom: 2%;

    }

    section.main img {
        display: none;
    }

    section.main button {
        width: 30%;
        height: 3vh;
    }

    section.topContent {
        flex-direction: column;
    }

    section.bottomContent {
        flex-direction: column;
    }
    
    .para {
        padding-bottom: 10%;
    }

    img.middle-img {
        padding: 0 1% 0 4%;
    }

    footer p {
        padding-top: 4%;
    }

}

/* *********************** MEDIA QUERIES FOR TABLET ****************************************** */

@media (max-width: 800px) {
    .container {
        width: 100%;
        margin: 0 auto;
    }

    header.header {
        flex-direction: column-reverse;
    }

    img.logo {
        width: 30%;
        height: auto;
        margin: 0 auto;
    }

    section.main img {
        display: none;
    }

    section.main button {
        width: 25%;
        height: 3vh;
        font-size: 100%;
    }
}