/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

.servicesContainer {
	width:100%;
	padding-top: 30px;
	padding-bottom: 20px;
	padding-left: 30px;
	padding-right: 30px;
	/* border: 1px solid red; */
}

header.servicesHeader {
	display: flex;
	justify-content: space-between;
}

header.servicesHeader nav a {
	text-decoration: none;
	color: gray;
	padding: 40px;
}

header.servicesHeader a img {
	padding-top: 30px;
}

img.services-header-img {
	width: 100%;
}

article h1 {
	font-size: 24px;
	padding-top: 30px;
}

article p {
	padding-bottom: 40px;
}

.textBox {
	width: 500px;
	height: auto;
	border: 1px solid black;
	margin: 20px 0; 
	padding: 20px;
	background-color: #eceaea;
}

/* .textBox h3 {
	padding: 20px;
} */

section.servicesMainContent { 
	border-bottom: 1px solid black;
	border-top: 1px solid black;
	padding: 15px 0;
}

.servicesMainContent .servicesUpperMainContent {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.servicesMainContent .servicesUpperMainContent .textBox button {
	background: white;
	font-size: 16px;
	padding: 5px 20px;
	margin-top: 10px;
	border-radius: 5px;
}

.servicesBottomPara {
	height: 100px;
	width: 45%;
}

.services-info-img {
	width: 47%;
	height: auto;
	padding-top: 30px;
}

section.bottomWrapper {
	display:flex;
	justify-content: space-between;
	padding: 10px;
}

section.bottomWrapper h3{
	padding-top: 30px;
}

section.bottomWrapper ul {
	padding: 10px 0;
}

section.bottomWrapper ul li{
	padding: 10px;
	list-style-type: square;
	list-style-position: inside;
}

footer.servicesFooter {
	text-align: center;
	padding: 20px 0;
}

/* *************************** MEDIA QUERIES FOR TABLET ***************************************************** */

@media only screen and (max-width: 800px) {

    .sevicesContainer {
        width: 100%;
        margin: 0 auto;
    }

    header.servicesHeader {
        flex-direction: column-reverse;
    }

    header.servicesHeader nav {
        padding-bottom: 5%;
    }

    header.servicesHeader nav a {
        padding: 5% 3%;
        margin: 0 auto;
    }

    header.servicesHeader a {
        width: 30%;
        margin: 0 auto;
        padding-bottom: 5%;
    }
}

/* *************************** MEDIA QUERIES FOR MOBILE ***************************************************** */

@media only screen and (max-width: 500px) {
    .servicesContainer {
        width: 100%;
        margin: 0 auto;
        /* padding-left: 20%; */
    }

    header.servicesHeader {
        flex-direction: column-reverse;
    }

    header.servicesHeader nav {
        display: flex;
        flex-direction: column;
    }

    header.servicesHeader nav a {
        padding: 2%;
        margin: 0 auto;
    }

    header.servicesHeader a {
        margin: 0 auto;
        text-align: center;
    }

    header.servicesHeader a img.logo {
        width: 30%;
    }

    .servicesMainContent .servicesUpperMainContent {
        flex-direction: column;
    }

    .servicesMainContent .servicesUpperMainContent .textBox {
        width: 100%;
    }

    .bottomWrapper {
        display:flex;
        flex-direction: column;
        width: 100%;
    }

    .services-info-img {
        display: none;
    }

    footer.servicesFooter {
        padding: 10%;
    }
}

